groups:
- name: node-alerts
  rules:
  - alert: HighCPUUsage
    expr: |
      1 - avg by (instance) (
        rate(node_cpu_seconds_total{mode="idle"}[30s])
      ) > 0.2
    for: 30s
    labels:
      severity: warning
    annotations:
      summary: High CPU usage
      description: CPU usage is above 20% for more than 30 seconds